body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(51, 51, 51);
  margin: 50px;
  align-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: -120px;
}

div h1 {
  color: white;
  text-align: center;
}

div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
td div {
  height: 40px;
  margin-top: -10px;
}
span {
  font-size: 8px;
  margin-top: -20px;
}
td {
  height: 50px;
  width: 50px;
  border: 1px #f0f0f0 solid;
  text-align: center;
}

td span {
  display: block;
}

td:hover {
  transition: 0.7s;
  transform: scale(1.5);
  text-align: center;
  background-color: rgb(217, 217, 217, 0.9);
  cursor: pointer;
}

td:empty {
  border: none;
  pointer-events: none;
}

/* Remove Border */
tr:nth-child(1) > td:nth-child(n + 1):nth-child(-n + 18),
tr:nth-child(2) > td:nth-child(n + 2):nth-child(-n + 17),
tr:nth-child(3) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(4) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(9) > td:nth-child(1),
tr:nth-child(9) > td:nth-child(n + 16):nth-child(-n + 18),
tr:nth-child(10) > td:nth-child(1),
tr:nth-child(10) > td:nth-child(n + 16):nth-child(-n + 18) {
  border: none;
}

/* STYLES */

/* Top Labels */
tr:nth-child(1) > td:nth-child(n + 1):nth-child(-n + 18),
tr:nth-child(2) > td:nth-child(n + 2):nth-child(-n + 17),
tr:nth-child(4) > td:nth-child(n + 3):nth-child(-n + 12) {
  font-size: 10px;
  vertical-align: bottom;
  color: white;
  pointer-events: none;
}

/* Pink */
tr:nth-child(2) > td:nth-child(1),
tr:nth-child(3) > td:nth-child(n + 14):nth-child(-n + 16),
tr:nth-child(4) > td:nth-child(n + 15):nth-child(-n + 16),
tr:nth-child(5) > td:nth-child(16) {
  color: #e96d97;
}

/* Red-Orange */
tr:nth-child(3) > td:nth-child(1),
tr:nth-child(4) > td:nth-child(1),
tr:nth-child(5) > td:nth-child(1),
tr:nth-child(6) > td:nth-child(1),
tr:nth-child(7) > td:nth-child(1),
tr:nth-child(8) > td:nth-child(1),
tr:nth-child(8) > td:nth-child(17) {
  color: #ea493e;
}

/* Orange */
tr:nth-child(3) > td:nth-child(2),
tr:nth-child(4) > td:nth-child(2),
tr:nth-child(5) > td:nth-child(2),
tr:nth-child(6) > td:nth-child(2),
tr:nth-child(7) > td:nth-child(2),
tr:nth-child(8) > td:nth-child(2),
tr:nth-child(9) > td:nth-child(2) {
  color: #dc7824;
}

/* Blue Green */
tr:nth-child(3) > td:nth-child(13),
tr:nth-child(4) > td:nth-child(14),
tr:nth-child(5) > td:nth-child(n + 14):nth-child(-n + 15),
tr:nth-child(6) > td:nth-child(n + 15):nth-child(-n + 16),
tr:nth-child(7) > td:nth-child(16) {
  color: #0d98ba;
}

/* GREEN */
tr:nth-child(4) > td:nth-child(13),
tr:nth-child(5) > td:nth-child(13),
tr:nth-child(6) > td:nth-child(n + 13):nth-child(-n + 14),
tr:nth-child(7) > td:nth-child(n + 13):nth-child(-n + 15),
tr:nth-child(8) > td:nth-child(14) {
  color: #008000;
}

/* Light-Green */
tr:nth-child(4) > td:nth-child(13),
tr:nth-child(5) > td:nth-child(13),
tr:nth-child(6) > td:nth-child(n + 13):nth-child(-n + 14),
,
tr:nth-child(7) > td:nth-child(n + 13):nth-child(-n + 15),
,
tr:nth-child(8) > td:nth-child(14) {
  color: #217064;
}
/* Gold */
tr:nth-child(5) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(6) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(7) > td:nth-child(n + 4):nth-child(-n + 12),
tr:nth-child(8) > td:nth-child(n + 4):nth-child(-n + 8),
tr:nth-child(8) > td:nth-child(12) {
  color: #e7c827;
}

/* Purple */
tr:nth-child(2) > td:nth-child(18),
tr:nth-child(3) > td:nth-child(18),
tr:nth-child(4) > td:nth-child(18),
tr:nth-child(5) > td:nth-child(18),
tr:nth-child(6) > td:nth-child(18),
tr:nth-child(7) > td:nth-child(18),
tr:nth-child(8) > td:nth-child(16),
tr:nth-child(8) > td:nth-child(18),
tr:nth-child(9) > td:nth-child(18) {
  color: #995ab7;
}

/* Blue */
tr:nth-child(3) > td:nth-child(17),
tr:nth-child(4) > td:nth-child(17),
tr:nth-child(5) > td:nth-child(17),
tr:nth-child(6) > td:nth-child(17),
tr:nth-child(7) > td:nth-child(17),
tr:nth-child(8) > td:nth-child(15) {
  color: #2e31ff;
}

/* Dark Green */
tr:nth-child(9) > td:nth-child(n + 2):nth-child(-n + 15) {
  color: #16c79a;
}

/* GREEN BLUE */
tr:nth-child(10) > td:nth-child(n + 2):nth-child(-n + 15) {
  color: #96bb7c;
}

/* GRAY */
tr:nth-child(8) > td:nth-child(n + 9):nth-child(-n + 11),
tr:nth-child(8) > td:nth-child(13),
tr:nth-child(8) > td:nth-child(n + 15):nth-child(-n + 18) {
  color: gray;
}

/* Others */
tr:nth-child(8) > td:nth-child(3),
tr:nth-child(7) > td:nth-child(3) {
  background-color: #217064;
  color: rgb(51, 51, 51);
}
